@media (max-width: 768px) {
  .homepage {
    overflow: hidden;
  }

  .logo {
    width: 5rem;
    height: 5rem;
  }

  .menu {
    height: 15%;
    padding: 30px;
  }
  .navbar-list {
    position: absolute;
    width: 80%;
    z-index: 1;
    top: 15%;
    left: 20%;
    border: 2px solid var(--lightbrown);
    padding: 20px;
    border-top: none;
    border-right: none;
    border-radius: 0 0 0 20px;
  }

  .navbar-list a {
    font-size: 0.8rem;
  }

  .icon-burguer {
    display: flex;
  }

  .navbar-list {
    transform: translateY(0%);
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  #menu-burguer:checked + .navbar-list {
    display: flex;
    transform: translateY(0%);
    opacity: 1;
  }
}
